.banner { 

background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0)), url("../../images/background.jpeg ");
color: white;
padding: 150px 0px; 
background-image: cover;
background-position: center;
} 


.banner h1 { 
	font-size: 50px;
	 }

.banner h2 { 
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;  }